flask
psycopg2-binary
flask_cors
flask-sqlalchemy
python-dotenv
pandas
flask-restx
flask_swagger_ui
timezonefinder
react-chartjs-2
nltk
textblob
dayjs
dotenv
flask-swagger-ui
flask-cors
flask_sqlalchemy
