h3 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 2.5rem !important;
}

p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.intro {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.para-text {
    margin-top: 2.5rem;
    color: black;
    margin-bottom: 2.5rem;
}

.trump-container {
    overflow: hidden;
    background-color: #FF0000;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30rem;
}

.trump-thumb {
    float: left;
    width: 70%;
}

.trump-thumb img {
    display: block;
    width: 70%;
    height: 70%;
    mix-blend-mode: overlay;
}

.candidate-content {
    color: white;
}

.candidate-title {
    font-size: 125%
}

.biden-container {
    overflow: hidden;
    background-color: #0015BC;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30rem;
}

.biden-thumb {
    float: right;
}

.biden-thumb img {
    display: block;
    width: 70%;
    height: 70%;
    mix-blend-mode: overlay;
}

.chart-box {
    display: flex;
    width: 90%;
    justify-content: center !important;
    align-items: center !important;
    margin: auto;
}

.overview {
    background-color:aliceblue;
    text-align: center;
    padding: 2rem;
}

.overview-stats {
    display: inline-block;
    margin-top: 1rem;
}